/* Regular */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf'), format('truetype');
}

/* Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Italic.ttf'), format('truetype');
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: rgb(9, 7, 41);
}

main {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 80%;
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 1px 1px 8px rgb(227, 226, 226);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(227, 226, 226);
  padding: 1rem;
}

h5 {
  flex-basis: 80%;
}

.refresh-icon {
  max-width: 100%;
  width: 20px;
}

.input-wrapper {
  border-bottom: 1px solid rgb(227, 226, 226);
  display: flex;
  align-items: center;
}

.enter-icon {
  width: 40px;
  top: 15%;
  height: 100%;
  padding: 0.3rem;
}

.todo-input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  outline: none;
}

.todo-input::placeholder {
  font-style: italic;
  color: rgb(152, 152, 152);
}

.clear {
  text-align: center;
  color: #949494;
  background-color: #f6f6f6;
  width: 100%;
  padding: 1rem;
  border: none;
  font-size: 0.8rem;
  font-weight: 100;
}

.todo-list {
  list-style: none;
}

.list-item {
  font-size: 0.9rem;
  color: rgb(9, 7, 41);
  padding: 1rem 0;
  display: flex;
  border-bottom: 1px solid rgb(227, 226, 226);
  align-items: center;
}

.list-check {
  width: 10%;
}

.item-text {
  width: 80%;
  margin-left: 0.5rem;
}

.list-item .todo-input {
  padding: 0 0.5rem;
  width: 80%;
  background: inherit;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  flex: 1;
  gap: 2px;
}

.options:hover {
  cursor: crosshair;
}

.dot {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #b6b6b6;
}

.options:hover > .dot {
  background-color: grey;
}

.bg-yellow {
  background-color: rgb(255, 247, 171);
}

.del-icon {
  width: 28px;
  top: 15%;
  height: 100%;
  padding: 0.3rem;
}

.strike-through {
  text-decoration: line-through;
}
